<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>favoritas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="padding">
        <center>

            <div class="card" id="2">
                <br><br><br><br>
                <img src="../../assets/r2.png" alt="republica 2">
                <br>
                <p>
                    Rua Mario Silva, Sao Paulo, SP
                </p>
                <p>
                    90 m²
                </p>
                <p>
                    3 quartos
                </p>
                <p>
                    Aluguel(quarto) R$800,00
                    <p>
                        3 banheiros, 1 cozinha, 2 salas, 1 garagem
                    </p>
                    <p>
                        Ursula Lopes, urslop@email.com
                    </p>
                    <br><br><br><br>
            </div>
            <div class="card" id="4">
                <br><br><br><br>
                <img src="../../assets/r4.png" alt="republica 4">
                <br>
                <p>
                    Rua Joao Trinta, Sao Paulo, SP
                </p>
                <p>
                    50 m²
                </p>
                <p>
                    2 quartos
                </p>
                <p>
                    Aluguel(quarto) R$700,00
                </p>
                <p>
                    3 banheiros, 1 cozinha, 2 salas, 1 garagem
                </p>
                <p>
                    Filipe Nascimento, filnas@email.com
                </p>
                <br><br><br><br>
            </div>
        </center>
    </div>
</ion-content>