<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>hommy</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>



    <div class="padding">
        <center>
            <div class="card" id="1">
                <br><br><br><br>
                <img src="../../assets/r1.png" alt="republica 1">
                <br>
                <p>
                    Rua Lauro Souza, Sao Paulo, SP
                </p>
                <p>
                    100 m²
                </p>
                <p>
                    3 quartos
                </p>
                <p>
                    Aluguel(quarto) R$300,00
                </p>
                <br><br><br><br>
            </div>
            <div class="card" id="2">
                <br><br><br><br>
                <img src="../../assets/r2.png" alt="republica 2">
                <br>
                <p>
                    Rua Mario Silva, Sao Paulo, SP
                </p>
                <p>
                    90 m²
                </p>
                <p>
                    3 quartos
                </p>
                <p>
                    Aluguel(quarto) R$800,00
                </p>
                <br><br><br><br>
            </div>
            <div class="card" id="3">
                <br><br><br><br>
                <img src="../../assets/r3.png" alt="republica 3">
                <br>
                <p>
                    Rua Alberto Sousa, Sao Paulo, SP
                </p>
                <p>
                    70 m²
                </p>
                <p>
                    2 quartos
                </p>
                <p>
                    Aluguel(quarto) R$400,00
                </p>
                <br><br><br><br>
            </div>
            <div class="card" id="4">
                <br><br><br><br>
                <img src="../../assets/r4.png" alt="republica 4">
                <br>
                <p>
                    Rua Joao Trinta, Sao Paulo, SP
                </p>
                <p>
                    50 m²
                </p>
                <p>
                    2 quartos
                </p>
                <p>
                    Aluguel(quarto) R$700,00
                </p>
                <br><br><br><br>
            </div>
            <div class="card" id="5_6_7_8" *ngFor="let republic of republics">
                <br><br><br><br>
                <br>
                <p>
                    {{republic.endereco}}
                </p>
                <p>
                    {{republic.tamanho}}
                </p>
                <p>
                    {{republic.quartos}}
                </p>
                <p>
                    {{republic.valor}}
                </p>
                <br><br><br><br>
            </div>
        </center>
    </div>
</ion-content>